.internship {
  color: #c3c2c5;
  padding: 20px;
  h1 {
    color: #fff;
  }
  ul {
    padding-left: 20px;
  }
  li {
    text-align: justify;
    padding: 0px;
  }
}
.position {
  margin: 0px;
  padding: 0px;
  font-size: 3vh;
}
.company {
  margin: 0px;
  padding: 0px;
  font-size: 2.2vh;
}
.position-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-size: 2vh;
  }
}

@media (min-width: 500px) {
  .internship {
    padding: 20px 50px;
    ul {
      padding-left: 20px;
      li {
        text-align: left;
        width: 90%;
      }
    }
  }
}
