body {
  background-color: #797080;
  padding: 20px;
  margin: 0;
}

@media(min-width: 900px) {
    h1,
    h2,
    p,
    ul,
    li {
      font-family: "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Helvetica Neue", sans-serif;
    
    }
    .container {
      padding: 0px 20%;
      h1 {
          color: white;
      }
    }
    ul.header {
      background-color: #111;
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
        margin: 0;
        outline: none;
        a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;
          padding: 20px;
          display: inline-block;
        }
      }
      .active {
        background-color: #84ceff;
      }
      a {
        outline: none;
      }
      a:hover {
        opacity: 0.9;
      }
    }
    .content {
      background-color: #fff;
      padding: 20px;
      h2 {
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 10px;
      }
    }
}