$background-color: #1a1f2b;
$header-color: #202c38;
body {
  background-color: $background-color;
  position: fixed;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}
html {
  overflow-y: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.container {
  font-family: 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}
.main {
  background-color: $background-color;
  height: calc(100vh - 145px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;

  .content {
    background-color: $background-color;
    margin: 0px;
    flex: 1;
  }
}

header {
  color: white;
  background-color: $header-color;
  height: 61px;
  border-bottom: 1px solid rgb(78, 78, 78);
}
a {
  font-weight: bold;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  li {
    flex: 1;
    list-style-type: none;
    a {
      color: #fff;
      font-size: 15px;
      padding: 19px 0px;
    }
    a.active {
      box-sizing: border-box;
      background-color: #2a3846;
      border-bottom: 3px solid #f00;
    }
  }
}

.mobilefooter {
  display: flex;
  flex-direction: row;
  flex: 1;
  a {
    color: #fdfdfd;
    padding: 0 10px;
  }
  padding: 5px 10px;
}
.pcfooter {
  display: none;
}
@media (min-height: 800px) {
  .main {
    height: 94vh;
  }
}
@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .main {
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .pcfooter {
    display: initial;
    position: fixed;
    bottom: 0;
    left: 0;
    a {
      color: #ffffff;
      padding: 0 10px;
    }
    padding: 5px 10px;
  }
  .mobilefooter {
    display: none;
  }
  header {
    width: 250px;
    height: 100vh;
    top: 0px;
    border-bottom: 0px;
    border-right: 1px solid rgb(78, 78, 78);
    .menu {
      display: inline-block;
      width: 250px;
      text-align: initial;
      margin: 20px 0px;
      a {
        position: relative;
        display: block;
        background-color: $header-color;
        font-size: 20px;
        padding: 20px;
        z-index: 3;
        &:after {
          content: '';
          position: absolute;
          background-color: #f00;
          bottom: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transform: scaleX(0);
          transition: transform 200ms ease-in;
          transform-origin: right;
          z-index: -1;
        }
      }
      a.active {
        border-right: 5px solid #ff0000;
        border-bottom: 0px;
        background-color: #2a3846;
        &:hover {
          background-color: #2d3a47;
          border: none;
        }
      }
      a:hover {
        background-color: #2d3a47;
        &:after {
          transform: scaleX(1);
          z-index: -1;
        }
      }
    }
    .menu:hover {
      .active {
        border: none;
      }
    }
  }
}
